.user-context-provider-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 114px);
}

.user-context-provider-main header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.user-context-provider-main .logout-button {
  position: absolute;
  right: 10px;
  top: 0;
}