.use-context-page a {
  background-color: #fff;
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
}
.use-context-page .case-a-button {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}
.use-context-page .case-a-button a {
  margin: 0 10px;
}
.use-context-page .case-a-button a:active {
  background-color: #000;
  color: #fff;
}